@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,400&family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

a {
  text-decoration: none;
}

/* Navbar Styles */

nav {
  display: inline-block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  background-color: white;
  z-index: 2;
}

.nav-center {
  max-width: 1170px;
  margin: 0 auto;
}

.nav-header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo p {
  font-family: "Dancing Script", cursive;
  font-size: 28px;
  font-weight: 500;
}

.nav-logo {
  height: 60px;
}

.nav-toggle {
  cursor: pointer;
}

.nav-links {
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.show {
  height: 210px;
}

.nav-link {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  padding: 1rem;
  display: block;
  transition: all 0.3s ease-in;
  color: #0a0903;
  background-color: white;
}

.nav-link:hover {
  background-color: #b9f2ff;
  padding-left: 1.5rem;
  font-weight: 600;
}

@media screen and (min-width: 900px) {
  .nav-toggle {
    display: none;
  }
  .nav-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links {
    height: auto;
    padding-right: 1rem;
    display: flex;
    gap: 10px;
  }

  .nav-link {
    font-family: "Quicksand", sans-serif;
    display: inline-block;
    position: relative;
    background-color: white;
    color: #0a0903;
    font-size: 18px;
    font-weight: 500;
  }

  .nav-link::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0a0903;
    transform-origin: bottom right;
    transition: transform 0.25s ease-in;
  }
  .nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .nav-link:hover {
    padding: 1rem;
    color: #0a0903;
    background-color: white;
  }
}

/* Hero Section */

.hero {
  height: 100vh;
  width: 100%;
  background-image: url(images/hero.png);
  background-color: #0a0903;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.hero-text {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  color: #f2f2f2;
  text-transform: capitalize;
}
.hero-text h1 {
  font-style: italic;
  line-height: 1.5;
  letter-spacing: 2px;
  font-size: 36px;
  font-family: "Merriweather", serif;
}

.hero-text h2 {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font: 32px;
  color: #b9f2ff;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.line {
  margin: 40px 0;
  width: 420px;
}

/* Hero Mobile View */

@media screen and (max-width: 900px) {
  .hero {
    background-image: url(images/hero-mobile.jpg);
    background-position-x: left;
  }
  .hero-text {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0.5rem;
  }
  .line {
    width: 100%;
    margin: 40px auto;
  }
  .hero-text h1 {
    font-size: 26px;
  }
  .hero-text h2 {
    font-size: 22px;
    font-weight: 400;
  }
}

@media screen and (min-width: 901px) and (max-width: 1170px) {
  .hero {
    background-image: url(images/hero-mobile2.jpg);
  }
  .hero-text {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
  }
}

/* About Us Section */

#about {
  width: 90%;
  margin: 80px auto;
  /* max-width: 350px; */
  max-width: 1170px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.section-title {
  font-size: 32px;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  margin: 0 0 40px 0;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.title-info {
  width: 350px;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
.section-info {
  margin-bottom: 40px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.text-box {
  order: 2;
}

.card-title {
  text-align: center;
  font-size: 32px;
  font-family: "Dancing Script", cursive;
  margin-bottom: 20px;
}

.card-img {
  height: 350px;
  width: 350px;
  object-fit: cover;
  object-position: center;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

@media screen and (min-width: 900px) {
  .card {
    flex-direction: row;
    gap: 40px;
  }
  .card-container {
    gap: 80px;
  }

  .card-title {
    margin-top: 20px;
    font-size: 36px;
    text-align: left;
  }

  .title-info {
    font-size: 20px;
    width: 500px;
    max-width: 600px;
  }
  .section-info {
    margin-bottom: 80px;
    width: 800px;
    font-size: 22px;
  }

  .card-img {
    height: 400px;
    width: 500px;
  }

  #img2 {
    order: 2;
  }
}

#splide01 {
  width: 350px;
  margin: 40px auto;
  /* border: 2px solid black; */
  box-shadow: 0 0 10px black;
  background-color: #0a0903;
}

.slide-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center;
  position: relative;
  top: 0;
  left: 25px;
  z-index: 0;
}

.splide__arrow {
  color: #f2f2f2;
  background-color: white;
}

@media screen and (min-width: 900px) {
  .slide-img {
    width: 600px;
    height: 600px;
  }
  #splide01 {
    width: 650px;
  }
}
